/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   
}




/* blink arrow */
.arrow1 {
    animation: blink 1s infinite;
   
   
   
    font-size: 30px;
   
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.arrow2 {
    animation: blink 1s infinite;
   
   
   
    font-size: 30px;
   
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.arrow3 {
    animation: blink 1s infinite;
   
   
   
    font-size: 30px;
   
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* odds section */
#output{
    color: #fff;
    font-size: 25px;
}

#output1{
    color: #fff;
    font-size: 25px;

}

#output2{
    color: #fff;
    font-size: 25px;

}


/* advertise here section */
#advertise-container {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    width: 100%;
  }

  #advertise-text {
    font-size: 18px;
    margin-bottom: 10px;
  }

  #advertise-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }


  /* date setup */
  #date-container {
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    background-color: #383882;
    color: #fff;
    padding-top: 12px;
   
   
}


header {
    background-color: #2327b4;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h2 span{
    color: black;
    background: red;
    border-radius: 12px;
}

span{
    color: yellow;
}

.logomain {
   padding-top: 23px;
}

.logomain span{
    color: white;
    background: red;
    border-radius: 12px;
    font-size: 30px;

  
}



.container2{
  text-align: center;
  background-color: #2327b4;
  color: white;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.3 linear;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   background: #2327b4;
   
}

.box{
    width: 300px;
    height: 450px;
    background-color:#2327b4 ;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 9px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
    border: 4px double white;
   
}

.box h3{
    font-size: 27px;
    padding: 20px 0;
    color: #fff;
}

.box img{
    width: 150px;
    border-radius: 10px;
}

.logo1{
    background-color: red;
    color: white;
    border-radius: 20px;
}

.logo2{
    background-color: green;
    color: black;
    border-radius: 20px;

}

.logo3{
    background-color: skyblue;
    color: white;
    border-radius: 20px;
}

.arrow1{
    color: #fff;
    font-size: 50px;
   
}

.arrow2{
    color: #fff;
    font-size: 50px;
   
}


.arrow3{
    color: #fff;
    font-size: 50px;
   
}

.toggle1{
    background-color: #ff0000;
    color: #fff;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
}

.toggle2{
    background-color: green;
    color: black;
    font-size: 17px;
    cursor: pointer;
    border-radius: 12px;

}


.toggle3{
    background-color: skyblue;
    color: white;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;

}

#toggleText1 {
    display: none;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    width: 300px;
    border-radius: 50%;
   
   
   
  }


  #toggleText2 {
    display: none;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    width: 300px;
    border-radius: 50%;
  }



  #toggleText3 {
    display: none;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    width: 300px;
    border-radius: 50%;
   
  }

  .click-btn{
    border-radius: 12px;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
  }

/* footer section */

footer {
    text-align: center;
    padding: 1em;
    background-color: #2327b4;
    color: #fff;
}

.contact{
   text-align: center;
 

}

.contact h3{
    color: #2327b4;
    font-size: 25px;
}

.social-icon{
    font-size: 48px;
}

.insta i{
    color: #ff4b72;
}

.whatsap i{
    color: #24d366;
}

.faceb i{
    color: #0966ff;
}


.teleg{
   color: #31a8d9;

}













