/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   
}

   

/* blink arrow */
.arrow1 {
    animation: blink 1s infinite;
   
   
   
    font-size: 30px;
   
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.arrow2 {
    animation: blink 1s infinite;
   
   
   
    font-size: 30px;
   
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.arrow3 {
    animation: blink 1s infinite;
   
   
   
    font-size: 30px;
   
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}



  /* date setup */
  #date-container {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    background-color: #383882;
    color: #fff;
    padding-top: 12px;
   
   
}


header {
    background-color: #2327b4;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h2 span{
    color: black;
    background: red;
    border-radius: 12px;
}



.logomain {
    padding-top: 23px;
}

.logomain span{
    color: white;
    background: red;
    border-radius: 12px;
    font-size: 30px;

  
}



.container2{
  text-align: center;
  background-color: #2327b4;
  color: white;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.3 linear;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#2327b4;
   
   
   
}

.box{
    width: 300px;
    height: 450px;
    background-color:#2327b4 ;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 9px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
    border: 4px double white;
   
}

.box h3{
    font-size: 27px;
    padding: 20px 0;
    color: #fff;
}

.box img{
    width: 150px;
    border-radius: 10px;
}

.logo1{
    background-color: red;
    color: white;
    border-radius: 20px;
}

.logo2{
    background-color: green;
    color: black;
    border-radius: 20px;

}

.logo3{
    background-color: skyblue;
    color: white;
    border-radius: 20px;
}

.arrow1{
    color: #fff;
    font-size: 50px;
   
}

.arrow2{
    color: #fff;
    font-size: 50px;
   
}


.arrow3{
    color: #fff;
    font-size: 50px;
   
}

.toggle1{
    background-color: #ff0000;
    color: #fff;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
}

.toggle2{
    background-color: green;
    color: black;
    font-size: 17px;
    cursor: pointer;
    border-radius: 12px;

}


.toggle3{
    background-color: skyblue;
    color: white;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;

}

#toggleText1 {
    display: none;
    font-size: 20px;
    color: #000;
    background-color: #f8f8f8;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px dotted #ff0000;
  }

  .code-span {
    margin-right: 10px;
  }

  .copy-button1 , .copy-button2 , .copy-button3 , .copy-button4 , .copy-button5 , .copy-button6 {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    padding: 5px 5px;
  }

  .copy-message {
    color: green;
    font-weight: bold;
  }

  span.span1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  span.span2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin: auto;    
  }

  #toggleText2 {
    display: none;
    font-size: 20px;
    color: #000;
    background-color: #f8f8f8;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px dotted #ff0000;
  }



  #toggleText3 {
    display: none;
    font-size: 20px;
    color: #000;
    background-color: #f8f8f8;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px dotted #ff0000;
  }

  .click-btn{
    border-radius: 12px;
    font-size: 20px;
    border-style: none;
    cursor: pointer;
  }


  /* winnings gallery section */

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 90px;
   
  }


  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
   
  }

  .gallery img:hover {
    transform: scale(1.1);
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
  }

  .modal img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }




  .wins{
   text-align: center;
   color: #2327b4;
   font-size: 30px;

  }

  .gallery {
    margin: 20px;
    text-align: center;
   
  
}

.gallery h2 {
    margin-bottom: 10px;
    color: #2327b4;
   
}


/* footer section */

footer {
    text-align: center;
    padding: 1em;
    background-color: #2327b4;
    color: #fff;
}

.contact{
   text-align: center;
 

}

.contact h3{
    color: #2327b4;
    font-size: 25px;
}

.social-icon{
    font-size: 48px;
}

.insta i{
    color: #ff4b72;
}

.whatsappp{
    text-align: center;
    color: #2327b4;
    
}

.whatsappp i{
    color: #24d366;
    font-size: 50px;
   
}

.faceb i{
    color: #0966ff;
}


.teleg{
   color: #31a8d9;

}













